
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head>

    <title>Homepage</title>
    <style type="text/css">
        .error{
            color: red;
            position: fixed;
            text-align: left;
            margin-left: 30px;
        }
    </style>
    <script type="text/javascript">
        function validateUserName(){
            var userName = document.getElementById('yn').value;
            if(userName.length < 3){
                alert("your name should have at least 3 cahr");
                return false;
            }
            else {
                return true;
            }

        }
    </script>
</head>
<body>

<h1 align="center">Love Calculator </h1>

<form action="process-homepage" method="get" th:object="${userInfo}" >
<div align="center">
<p>
<label for="yn">Your name : </label>
<input type="text" id="yn" th:field="*{userName}"  />
    <label th:if="${#fields.hasErrors('userName')}" th:class="error" th:errors="*{userName}"></label>
<p>
    <label for="cn">Crush Name : </label>
    <input type="text" id="cn" name="crushName"/>
    <label th:if="${#fields.hasErrors('crushName')}" th:class="error" th:errors="*{crushName}"></label>

</p>

<p>
    <input type="checkbox" th:field="*{termAndCondition}" id="check">
    <label>I am agrreing that this is for fun</label>
    <label th:if="${#fields.hasErrors('termAndCondition')}" th:class="error" th:errors="*{termAndCondition}"></label>

</p>

<input type="submit" value="calculate" onsubmit="return validateUserName()">

</div>
</form>
</body>
</html>